In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Excel dosyasını yükle
file_path = 'elektrik_veri_hashed.xlsx'
xls = pd.ExcelFile(file_path)
# Sayfa isimlerini görüntüle
print("Sayfa isimleri:", xls.sheet_names)
# Her sayfayı ayrı DataFrame'e yükle
df_tahsilat = pd.read_excel(xls, sheet_name='Tahsilat')
df_tahsilat_1 = pd.read_excel(xls, sheet_name='Tahsilat 1')
df_tahakkuk = pd.read_excel(xls, sheet_name='Tahakkuk') # Hamamözü
df_tahakkuk_1 = pd.read_excel(xls, sheet_name='Tahakkuk 1') # Gümüşhacıköy
df_tahakkuk_2 = pd.read_excel(xls, sheet_name='Tahakkuk 2') # Göynücek

Sayfa isimleri: ['Tahsilat', 'Tahsilat 1', 'Tahakkuk', 'Tahakkuk 1', 'Tahakkuk 2']

İlk kısımda ilk datafrome olan Tahsilat ile info head tail shape benzersiz müşteri numarası ve diğer istenenler yapılacaktır.

In [38]:
#veri büyük olduğu için ilk on ve son on satıra bakmak istedim.
df_tahsilat.head(10)

,Şube,Kasa,İlçe,Söz.hsp.(bağımsız),Tahsilat Tarihi,Nakit Tahsilat,Mahsuben Tahsilat,Kredi Kartı Tahsilatı,Banka Tahsilatı
0,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2023-11-06,NaN,8648.95,NaN,NaN
1,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2024-06-26,NaN,762.40,NaN,NaN
2,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2024-07-10,NaN,311.60,NaN,NaN
3,PTT,PTT/PV,TAŞOVA,4254955886,2023-01-19,NaN,NaN,NaN,130.5
4,PTT,PTT/PV,TAŞOVA,4254955886,2023-02-17,NaN,NaN,NaN,117.0
5,PTT,PTT/PV,TAŞOVA,4254955886,2023-03-16,NaN,NaN,NaN,130.0
6,PTT,PTT/PV,TAŞOVA,4254955886,2023-04-17,NaN,NaN,NaN,124.0
7,PTT,PTT/PV,TAŞOVA,4254955886,2023-05-18,NaN,NaN,NaN,121.0
8,PTT,PTT/PV,TAŞOVA,4254955886,2023-06-16,NaN,NaN,NaN,103.0
9,PTT,PTT/PV,TAŞOVA,4254955886,2023-07-19,NaN,NaN,NaN,167.0

In [21]:
df_tahsilat.tail(10)

,Şube,Kasa,İlçe,Söz.hsp.(bağımsız),Tahsilat Tarihi,Nakit Tahsilat,Mahsuben Tahsilat,Kredi Kartı Tahsilatı,Banka Tahsilatı
636983,AKTİFBANK-BAYİ,BAY/PB,TAŞOVA,4307024410,2025-05-21,1013.01,NaN,NaN,NaN
636984,AKTİFBANK-BAYİ,BAY/PB,TAŞOVA,9745062207,2025-05-23,1273.85,NaN,NaN,NaN
636985,AKTİFBANK-BAYİ,BAY/PB,GÜMÜŞHACIKÖY,6795373051,2025-05-23,1013.01,NaN,NaN,NaN
636986,AKTİFBANK-BAYİ,BAY/PB,TAŞOVA,9084397216,2025-05-26,1013.01,NaN,NaN,NaN
636987,AKTİFBANK-BAYİ,BAY/PB,TAŞOVA,4649228177,2025-05-26,1637.81,NaN,NaN,NaN
636988,HALKBANK,HLK/PV,GÜMÜŞHACIKÖY,7198356519,2025-05-27,NaN,NaN,NaN,1609.21
636989,AKTİFBANK-BAYİ,BAY/PB,TAŞOVA,2239951250,2025-05-27,1013.01,NaN,NaN,NaN
636990,AKTİFBANK-BAYİ,BAY/PB,TAŞOVA,8122050051,2025-05-28,1013.01,NaN,NaN,NaN
636991,AKTİFBANK-BAYİ,BAY/PB,TAŞOVA,946697585,2025-05-28,1420.65,NaN,NaN,NaN
636992,AKTİFBANK,AKT/PN,GÖYNÜCEK,6422892109,2025-05-30,NaN,NaN,NaN,705.69

In [42]:
#datafremein boyutunu görmek için
df_tahsilat.shape

(636993, 9)

In [44]:
#genel bilgilere(sutun isimleri, veri sayısı ve veri tipi) ulaşmak için info() metodu
df_tahsilat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636993 entries, 0 to 636992
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Şube                   636993 non-null  object
 1   Kasa                   636993 non-null  object
 2   İlçe                   636993 non-null  object
 3   Söz.hsp.(bağımsız)     636993 non-null  int64
 4   Tahsilat Tarihi        636993 non-null  datetime64[ns]
 5   Nakit Tahsilat         523 non-null     float64
 6   Mahsuben Tahsilat      7542 non-null    float64
 7   Kredi Kartı Tahsilatı  0 non-null       float64
 8   Banka Tahsilatı        628933 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 43.7+ MB

In [20]:
essiz_müsteri = len(pd.unique(df_tahsilat['Söz.hsp.(bağımsız)']))
print(f"{essiz_müsteri} tane eşsiz müşteri var.")

34835 tane eşsiz müşteri var.

In [63]:
df_tahsilat.describe()

,Söz.hsp.(bağımsız),Tahsilat Tarihi,Nakit Tahsilat,Mahsuben Tahsilat,Kredi Kartı Tahsilatı,Banka Tahsilatı
count,6.369930e+05,636993,523.000000,7542.000000,0.0,628933.000000
mean,5.019884e+09,2024-03-05 09:26:07.644856320,694.966635,6180.182282,NaN,372.629109
min,1.758320e+05,2023-01-01 00:00:00,7.450000,-34508.950000,NaN,0.010000
25%,2.532887e+09,2023-07-28 00:00:00,425.330000,44.477500,NaN,120.000000
50%,5.008502e+09,2024-02-26 00:00:00,524.670000,290.410000,NaN,208.000000
75%,7.525722e+09,2024-09-30 00:00:00,688.830000,2729.110000,NaN,322.000000
max,9.999600e+09,2025-05-31 00:00:00,11373.740000,399526.780000,NaN,606473.800000
std,2.884435e+09,NaN,758.319428,23828.022593,NaN,3265.430202

In [69]:
#null değer kontrolü 
df_tahsilat.isnull().sum()

Şube                          0
Kasa                          0
İlçe                          0
Söz.hsp.(bağımsız)            0
Tahsilat Tarihi               0
Nakit Tahsilat           636470
Mahsuben Tahsilat        629451
Kredi Kartı Tahsilatı    636993
Banka Tahsilatı            8060
dtype: int64

df_tahsilat içiçn yaptığımız şeyleri df_tahsilaT_1 için yapacağız. bunu bir for döngüsü ile yazmamamın nedeni veriy her hücrede daha 
iyi görmek istemem.

In [5]:
df_tahsilat_1.head(10)

,Mali yıl/dönem,İl,İlçe,Söz.hsp.(bağımsız),Hesap Sınıfı,Tahakkuk Tutar,Son Ödeme Tarihinden Önceki Tahsilat,Son Ödeme Tarihindeki Tahsilat,Son Ödeme (1),Son Ödeme (2),...,Son Ödeme (5),Son Ödeme (6-10),Son Ödeme (10-20),Son Ödeme (20-30),Son Ödeme (30-60),Son Ödeme (60-90),Son Ödeme (90-120),Son Ödeme (120-150),Son Ödeme (150-180),Son Ödeme (180+)
0,OCK 2023,AMASYA,GÖYNÜCEK,9374624783,Mesken,5.03,0.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
1,OCK 2023,AMASYA,GÖYNÜCEK,236184905,Mesken,26.46,0.06,26.40,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OCK 2023,AMASYA,GÖYNÜCEK,9657731015,Mesken,121.53,NaN,NaN,NaN,121.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OCK 2023,AMASYA,GÖYNÜCEK,9554442880,Mesken,117.49,NaN,117.49,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OCK 2023,AMASYA,GÖYNÜCEK,6031642522,Mesken,170.30,170.30,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,OCK 2023,AMASYA,GÖYNÜCEK,9404715439,Mesken,132.63,NaN,132.63,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,OCK 2023,AMASYA,GÖYNÜCEK,3440240004,Mesken,38.29,38.29,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,OCK 2023,AMASYA,GÖYNÜCEK,3100056422,Ticari Faaliyet - Yazıhane,17.74,NaN,17.74,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,OCK 2023,AMASYA,GÖYNÜCEK,2949666469,Mesken,98.33,0.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,98.3,NaN,NaN,NaN,NaN
9,OCK 2023,AMASYA,GÖYNÜCEK,7940140859,Mesken,290.04,290.04,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_tahsilat_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917632 entries, 0 to 917631
Data columns (total 22 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Mali yıl/dönem                        917632 non-null  object
 1   İl                                    917632 non-null  object
 2   İlçe                                  917632 non-null  object
 3   Söz.hsp.(bağımsız)                    917632 non-null  int64
 4   Hesap Sınıfı                          917632 non-null  object
 5   Tahakkuk Tutar                        917632 non-null  float64
 6   Son Ödeme Tarihinden Önceki Tahsilat  623908 non-null  float64
 7   Son Ödeme Tarihindeki Tahsilat        328193 non-null  float64
 8   Son Ödeme (1)                         20902 non-null   float64
 9   Son Ödeme (2)                         21664 non-null   float64
 10  Son Ödeme (3)                         18893 non-null   float64
 11  Son Ödeme (4)                         16995 non-null   float64
 12  Son Ödeme (5)                         7323 non-null    float64
 13  Son Ödeme (6-10)                      45708 non-null   float64
 14  Son Ödeme (10-20)                     48281 non-null   float64
 15  Son Ödeme (20-30)                     29005 non-null   float64
 16  Son Ödeme (30-60)                     23030 non-null   float64
 17  Son Ödeme (60-90)                     7184 non-null    float64
 18  Son Ödeme (90-120)                    3820 non-null    float64
 19  Son Ödeme (120-150)                   2302 non-null    float64
 20  Son Ödeme (150-180)                   1551 non-null    float64
 21  Son Ödeme (180+)                      4827 non-null    float64
dtypes: float64(17), int64(1), object(4)
memory usage: 154.0+ MB

In [38]:
essiz_müsteri_1 = len(pd.unique(df_tahsilat_1['Söz.hsp.(bağımsız)']))
print(f"{essiz_müsteri_1} tane eşsiz müşteri var.")

52367 tane eşsiz müşteri var.

In [12]:
df_tahsilat_1.describe()

,Söz.hsp.(bağımsız),Tahakkuk Tutar,Son Ödeme Tarihinden Önceki Tahsilat,Son Ödeme Tarihindeki Tahsilat,Son Ödeme (1),Son Ödeme (2),Son Ödeme (3),Son Ödeme (4),Son Ödeme (5),Son Ödeme (6-10),Son Ödeme (10-20),Son Ödeme (20-30),Son Ödeme (30-60),Son Ödeme (60-90),Son Ödeme (90-120),Son Ödeme (120-150),Son Ödeme (150-180),Son Ödeme (180+)
count,9.176320e+05,9.176320e+05,623908.000000,328193.000000,20902.000000,21664.000000,18893.000000,16995.000000,7323.000000,45708.000000,48281.000000,29005.000000,23030.000000,7.184000e+03,3820.000000,2302.000000,1551.000000,4827.000000
mean,5.010893e+09,5.085794e+02,206.312521,547.264676,643.061367,553.709882,414.438863,536.363810,516.075436,558.643866,583.558553,801.017507,918.617756,1.257710e+03,671.639885,322.164222,393.359884,159.776611
std,2.883691e+09,5.052666e+03,2855.301668,3898.724314,5454.365338,5123.756510,2650.055196,6242.186627,3451.492687,6666.262578,7178.350454,7154.314816,7105.333937,2.007415e+04,5979.226329,3220.519683,5264.099250,2619.161924
min,1.758320e+05,-1.279328e+04,-12793.280000,0.000000,-70.000000,-296.930000,-120.600000,0.000000,-752.000000,-100.660000,-962.000000,0.000000,-6837.000000,-7.010000e+02,-770.000000,-349.000000,0.000000,-15206.880000
25%,2.513721e+09,1.101500e+02,0.320000,116.600000,125.610000,112.922500,119.000000,116.905000,115.000000,121.905000,115.000000,109.000000,77.000000,4.285750e+01,30.330000,24.125000,23.000000,13.470000
50%,5.009565e+09,2.020700e+02,44.220000,210.990000,222.000000,211.000000,203.000000,208.070000,218.540000,213.590000,210.000000,220.880000,172.955000,1.070000e+02,76.000000,55.370000,49.000000,32.000000
75%,7.509497e+09,3.215700e+02,210.220000,334.270000,349.977500,333.000000,320.000000,329.865000,344.985000,330.000000,334.000000,382.470000,320.987500,2.195575e+02,164.000000,124.130000,106.500000,76.000000
max,9.999760e+09,1.173258e+06,799298.890000,429056.570000,393238.000000,319120.000000,152377.000000,560239.000000,158004.450000,550420.870000,550859.750000,694275.910000,221781.470000,1.051591e+06,150233.960000,89285.680000,169410.490000,141070.520000

In [14]:
#null değer kontrolü 
df_tahsilat_1.isnull().sum()

Mali yıl/dönem                               0
İl                                           0
İlçe                                         0
Söz.hsp.(bağımsız)                           0
Hesap Sınıfı                                 0
Tahakkuk Tutar                               0
Son Ödeme Tarihinden Önceki Tahsilat    293724
Son Ödeme Tarihindeki Tahsilat          589439
Son Ödeme (1)                           896730
Son Ödeme (2)                           895968
Son Ödeme (3)                           898739
Son Ödeme (4)                           900637
Son Ödeme (5)                           910309
Son Ödeme (6-10)                        871924
Son Ödeme (10-20)                       869351
Son Ödeme (20-30)                       888627
Son Ödeme (30-60)                       894602
Son Ödeme (60-90)                       910448
Son Ödeme (90-120)                      913812
Son Ödeme (120-150)                     915330
Son Ödeme (150-180)                     916081
Son Ödeme (180+)                        912805
dtype: int64

In [22]:
# Tahakkuk sayfaları ilçeleri temsil ediyor
print("Hamamözü Müşteri Sayısı:", essiz_müsteri)
print("Gümüşhacıköy Müşteri Sayısı:", essiz_müsteri_1)
print("Göynücek Müşteri Sayısı:", df_tahakkuk_2['sozlesme_hesap_no'].nunique())

Hamamözü Müşteri Sayısı: 34835
Gümüşhacıköy Müşteri Sayısı: 52367
Göynücek Müşteri Sayısı: 7128